<div id="song_modal" class="modal">
			<div class="modal-header">
				<h3 id="myModalLabel"><%= "#{song.artist}-#{song.title}"%> </h3>
			</div>
			<div class="modal-body">
			<p> 
				
			</p> 
			
			<p>
			
			</p>
			
			<p>
			
			</p>
			</div>
			<div class="modal-footer">
					<button class="btn" class="close" data-dismiss="modal" onclick='$("#song_modal").hide();'>Close</button>
			</div>	
</div>